<% layout("/layouts/boilerplate") %>
<style>
 #filters {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping on small screens */
  overflow-x: auto;   /* Enable horizontal scroll */
  white-space: nowrap;
  align-items: center;
  padding-bottom: 1rem; /* Optional: spacing for scrollbar */
  scrollbar-width: thin; /* For Firefox */
  -webkit-overflow-scrolling: touch; /* Smooth scroll on iOS */
}
  .filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
  .filter p{
    font-size: 0.7rem;
  }
  .tax-info{
    display: none;
  }
  .tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }
</style>

<body>
    <div id="filters">
      <div class="filter">
        <form  method="GET" action="/listings">
          <input type="hidden" name="category" value="Trending">
          <button type="submit" style="all: unset; cursor: pointer;">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
        </button>
        </form>
      </div>
      <div class="filter">
        <form  method="GET" action="/listings">
          <input type="hidden" name="category" value="Rooms">
          <button type="submit" style="all: unset; cursor: pointer;">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
          </button>
        </form>
      </div>
      <div class="filter">
         <form  method="GET" action="/listings">
          <input type="hidden" name="category" value="Iconic cities">
          <button type="submit" style="all: unset; cursor: pointer;">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic cities</p>
        </button>
        </form>
      </div>
      <div class="filter">
         <form  method="GET" action="/listings">
          <input type="hidden" name="category" value="Mountains">
          <button type="submit" style="all: unset; cursor: pointer;">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountains</p>
        </button>
        </form>
      </div>
      <div class="filter">
         <form  method="GET" action="/listings">
          <input type="hidden" name="category" value="Castles">
          <button type="submit" style="all: unset; cursor: pointer;">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
        </button>
        </form>
      </div>
      <div class="filter">
         <form  method="GET" action="/listings">
          <input type="hidden" name="category" value="Pools">
          <button type="submit" style="all: unset; cursor: pointer;">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Pools</p>
        </button>
        </form>
      </div>
       <div class="filter">
         <form  method="GET" action="/listings">
          <input type="hidden" name="category" value="Camping">
          <button type="submit" style="all: unset; cursor: pointer;">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
        </button>
        </form>
      </div>
      <div class="filter">
         <form  method="GET" action="/listings">
          <input type="hidden" name="category" value="Farms">
          <button type="submit" style="all: unset; cursor: pointer;">
        <div><i class="fa-solid fa-tractor"></i></div>
        <p>Farms</p>
        </button>
        </form>
      </div>
      <div class="filter">
         <form  method="GET" action="/listings">
          <input type="hidden" name="category" value="Arcatic">
          <button type="submit" style="all: unset; cursor: pointer;">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arcatic</p>
        </button></form>
      </div>
      <div class="filter">
         <form  method="GET" action="/listings">
          <input type="hidden" name="category" value="Domes">
          <button type="submit" style="all: unset; cursor: pointer;">
        <div><i class="fa-solid fa-igloo"></i></div>
        <p>Domes</p>
        </button></form>
      </div>
      <div class="filter">
         <form  method="GET" action="/listings">
          <input type="hidden" name="category" value="House boats">
          <button type="submit" style="all: unset; cursor: pointer;">
        <div><i class="fa-solid fa-ship"></i></div>
        <p>House boats</p>
        </button></form>
      </div>
      <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
        <label class="form-check-label" for="switchCheckDefault">Display Total after taxes</label>
    </div>
    </div>
    </div>
    <!-- <form method="Get" action="/listings/new">
        <button>Create New</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-3">
        <% for(listing of allListings) {%>
          <a href="/listings/<%= listing._id  %>" class="listing-link">
        <div class="card col listing-card" >
            <img src="<%= listing.image.url  %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
            <div class="card-img-overlay"> </div>
            <div class="card-body">
              <p class="card-text"><%= listing.title  %>
            <br><%= listing.price.toLocaleString("en-IN")  %>/night<i class="tax-info">&nbsp; +18% gst</i></p>
            </div>
          </div>
        </a>
          <% } %>
        </div>
<script>
 let priceToggle=document.getElementById("switchCheckDefault");
  priceToggle.addEventListener("click",()=>{
    let taxInfo=document.getElementsByClassName("tax-info");
    for(info of taxInfo){
      if(info.style.display!="inline"){
        info.style.display="inline";
      }
      else{
        info.style.display="none";
      }
    }
  })
   </script>

 </body>